@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.project-image {
  max-height:  200px; /* Adjust this value to your preference */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
}

html, body {
  margin: 0;
  padding: 0;
  
}
