@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.project-image {
  max-height:  200px; /* Adjust this value to your preference */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
}

html, body {
  margin: 0;
  padding: 0;
}

.x {
  position: relative;
  transition: all 1s;
}
.x:after {
  content: "\203A";
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  height: fit-content;
  transition: all 1s;
}

.x:hover:after {
  color: rgba(255, 255, 255, 0.589);
  right: -10px;
  transition: all 1s;
}
.x:hover {
  color: rgba(255, 255, 255, 0.589);
}

.y {
  position: relative;
  transition: all 1s;
}
.y:after {
  content: "\203A";
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  height: fit-content;
  transition: all 1s;
}

.y:hover:after {
  color: rgb(0, 157, 255);
  right: -10px;
  transition: all 1s;
}
.y:hover {
  color: #009dff;
}

.z {
  position: relative;
}
.z:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: rgb(0, 157, 255, 1);
  transition: all 0.5s;
  z-index: -1;
}
.z:hover:before {
  transform: scale(1);
}

.hide-overflow {
  overflow: hidden;
}